@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

h1 {
    z-index: 2;
    color: rgba(12, 12, 12, 1);
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.lighting {
    background: rgba(12, 12, 12, 1);
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.light {
    background: #FFFBD6;
    box-shadow: 0px 0px 100px 250px #FFFBD6;
    -webkit-box-shadow: 0px 0px 100px 250px #FFFBD6;
    border-radius: 100%;
}
